<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="AppId" value="144964596047848" xdt:Transform="Remove"/>
    <add key="AppSecret" value="dce3b072057d207a76347febbdd3dd2e" xdt:Transform="Remove"/>
    <add key="AppId" xdt:Transform="Insert" value="1428507243837896"/>
    <add key="AppSecret" xdt:Transform="Insert" value="6565a6c23a660f49a0f0c4b373f01dc4"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" xdt:Transform="Replace" 
         connectionString="Server=a46f5e99-3fc7-4e75-b33a-a78100ebfa55.sqlserver.sequelizer.com;Database=dba46f5e993fc74e75b33aa78100ebfa55;User Id=djrakekuccenkawq;Password=qoikFEuQSN67fSFBrU8UMPm5TLZqmt278zt3aogKb7qToARuFQoMcg8Jcnz3NeDy;"
         providerName="System.Data.SqlClient" />
    
    <add name="ContactWebContext" xdt:Transform="Replace"
         connectionString="Server=a46f5e99-3fc7-4e75-b33a-a78100ebfa55.sqlserver.sequelizer.com;Database=dba46f5e993fc74e75b33aa78100ebfa55;User Id=djrakekuccenkawq;Password=qoikFEuQSN67fSFBrU8UMPm5TLZqmt278zt3aogKb7qToARuFQoMcg8Jcnz3NeDy;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
